*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-flow: column wrap;
    background-color: cadetblue;
    align-content: center;
    padding: 10px;
    font-size: 20px;
}

.mainContainer, .tableContainer{
    background-color: rgb(247, 247, 247);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    margin-bottom: 10px;
}

.Form div{
    display: flex;
    justify-content: space-evenly; 
     align-items: center;
    margin-bottom: 20px;
}

label, input, .button, .salary-output, .text-error{
    font-size: 16px;
    line-height: 1.5;
}

label{
    text-transform: capitalize;
    text-align: right;
    margin-right: 2%;
    width: 30%;
    padding: 5px;
}

input{
    flex: auto;
    width: 70%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    }

.salary-output{
    padding: 5px;
}

.button{
    margin: 0 auto;
    width: 70%;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray;
    transform: all 5s ease;
}

.button:hover{
    background-color: gray;
    color: white;
}

.button:disabled{
    background-color: white;
    opacity: 0.5;
    color: gray;
    border: 1px solid gray;
}

.text-error{
    font-style: italic;
    color: red;
}

/* table styling */
.tableContainer{
   
    max-width: 1000px;
}

table{    
border: 1px solid white;
background-color: wheat;
width: 100%;
padding: 10px;
border-collapse: collapse;

}

table th, table td{
    background-color: lightgreen;
    border: 1px solid white;
    color: gray;
    text-align: center;
    height: 20px;
    padding: 10px;
}

table tbody tr td{
    color: black;
}
